<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Badr Rahmaouy</title>
    <link rel="stylesheet" href="../style/all.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
</head>
<body>
    <div id="container">
        <header>
            <div id="header-title" class="text">Projects:</div>
            <div id="project1" class="text">
                <a href="https://sunshine-holiday.herokuapp.com/" title="open project" target="_blank">Capstone</a>
            </div>
            <div id="project2" class="text">
                <a href="https://www.github.com/Badrrahmaouy/News-Evaluator" title="open project" target="_blank">News Evaluator</a>
            </div>
            <div id="project3" class="text">
                <a href="https://www.github.com/Badrrahmaouy/Rock-paper-scissors" title="open project" target="_blank">Rock, Paper, Scissors</a>
            </div>
        </header>

        <main>
            <div id="page-title" class="text">Badr<br>Rahmaouy</div>
            <div class="text">I'm an "apple" lover and a "McDonald's" eater</div>
        </main>

        <footer>
            <div id="footer-container">
                <div class="text">[GitHub]</div>
                <div class="text">[LinkedIn]</div>
                <div class="text">[Online CV]</div>
            </div>
            <div class="text">rahmaouy@gmail.com</div>
        </footer>
    </div>    
</body>
</html>