@import '../../node_modules/@fortawesome/fontawesome-free/css/all.css';
@import './project.scss';

$main-font: 'Righteous', cursive;

body {
    margin: 0;
}

.text {
    font-family: $main-font;
    text-align: center;
}

#container {
    height: 95vh;
    position: relative;
    display: grid;
    grid-template-areas: 
    "hd"
    "desc"
    "main"
    "footer";
    
    header {
        display: grid;
        grid-template-columns: repeat(4, 25%);
        grid-area: hd;
        height: 50px;
        background-color: black;
        justify-content: center;
        align-items: center;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;

        #header-title, a, #project1 {
            color: white;
            cursor: pointer;
            text-decoration: underline;
        }
    }

    main {
        grid-area: main;
        display: flex;
        flex-direction: column;
        height: 60vh;
        position: relative;

        #page-title {
            font-size: 7em;
            text-align: center;
            // position: relative;
            // left: 100px;
            // top: 100px;
            // margin: 100px 0 0 100px;
            margin-top: 100px;
        }

        #desc {
            font-size: 2em;
            margin-top: 20px;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            // font-style: italic;

            #ampersand {
                font-family: 'Roboto', sans-serif;
                font-weight: 400;
                // font-style: italic;
            }

            img {
                width: 2em;
                margin: -13px -13px -12px -10px;
            }
        }
    }

    footer {
        background-color: #eceaea;
        position: relative;
        grid-area: footer;

        #footer-container {
            height: 17vh;
            display: grid;
            grid-template-columns: repeat(3, 13%);
            justify-content: center;
            align-items: center;
            grid-gap: 0;
            color: rgb(78, 74, 74);
            font-size: 1.5em;

            .logo {
                font-size: 2em;
                margin: auto;
                color: black;
            }

            #cv {
                text-align: center;
            
                .text.logo {
                    // font-family: Arial, Helvetica, sans-serif;
                    font-weight: bolder;
                    margin: 15px;
                    text-decoration: none;
                }
            }
        }

        div {
            position: relative;
            bottom: 10px;
        }
    }
}