$main-font: 'Montserrat', sans-serif;


body {
    margin: 0;
    background-color: #f3faff
}

.text {
    font-family: $main-font;
    text-align: center;
}

#container {
    position: relative;
    height: 100vh;
    display: grid;
    grid-template-areas: 
    "hd"
    "main"
    "footer";
    
    header {
        grid: hd;
        position: relative;
        display: grid;
        @media (min-width: 900px) {
            margin: 40px 0 0 50px;
            grid-template-columns: 50% 50%;
        }
        @media (max-width: 901px) {
            display: grid;
            grid-template-rows: 50% 50%;
            padding: 20px;
        }

        #intestation{
            @media (max-width: 901px) {
               text-align: center; 
            }
            @media (min-width: 900px) {
               text-align: left; 
            }

            #page-title {
                @media (min-width: 900px) {
                font-size: 3em;
                }
                @media (max-width: 901px) {
                font-size: 5em;
                }

                font-weight: 700;
            }
    
            #job { 
                @media (min-width: 900px) {
                font-size: 2.5em;
                }
                @media (max-width: 901px) {
                font-size: 3.5em;
                }
            }
        }
        
        
        #contacts {
            font-size: 1.5em;
            font-family: $main-font;
            @media(max-width: 901px) {
                margin-top: 100px;
                text-align: center;
            }
            
            a{
                color: black;
                margin: 15px;
            }
            
            .row {
                text-align: center;
                margin-bottom: 20px;
                @media(max-width: 901px) {
                    display: inline-block;
                }
            }

            #cv {
                text-decoration: underline;
            }
            
            #email {
                text-decoration: underline;
            }

            #github {
                margin-top: 60px;
                font-size: 2em;
                margin-right: 120px;
            }
            
            #linkedin {
                color:#006097;
                margin-top: 60px;
                font-size: 2em;
            }
        }
    }

    main {
        grid: main;
        display: grid;
        text-align: center;
        @media (min-width: 900px) {
            margin-top: 250px;
            grid-template-columns: repeat(3, auto);
        }
        @media (max-width: 901px) {
            grid-template-rows: repeat(3, auto);
            grid-gap: 50px;
        }

        a {
            cursor: pointer;
            color: black;

            .card {
                background-color: #e8f4ff;
                margin: auto;
                width: 350px;
                border: 1px solid lightgray;
                border-radius: 15px;
                box-shadow: 3px 7px #035f97;
                display: inline-block;
                font-family: $main-font;
                text-align: left;

                .text-title-card {
                    font-size: 1.2em; 
                    text-align: center;
                }   

                .text-card {
                    font-size: 0.8em;
                    margin: 10px;
                }

                ul {
                    padding-left: 20px;
                    font-size: 0.8em;
                }
            }
        }
    }

    footer {
        grid: footer;
        background-color: #045e97;
        position: relative;
        width: 100%;
        @media (max-width: 901px) {
            margin-top: 40px;
            height: 6vh;
            text-align: center;
        }
        
        div {
            width: 100%;
            position: absolute;
            bottom: 0;
        }
    }
}