$main-font: 'Righteous', cursive;

body {
    margin: 0;
}

.text {
    font-family: $main-font;
    text-align: center;
}

#container {
    position: relative;
    display: grid;
    grid-template-areas: 
    "hd"
    "main"
    "footer";
    
    header {
        margin: 40px 0 0 50px;
        display: grid;
        grid-template-columns: 50% 50%;
        position: relative;
        
        #page-title {
            text-align: left;
            font-size: 4em;
        }

        #job {
            text-align: left;
            font-size: 3em;

        }
        
        #contacts {
            margin-top: 30px;
            font-size: 1.5em;
            
            #cv {
                color: black;
                text-decoration: underline;
                position: absolute;
                right: 250px;
            }
            
            #email {
                color: black;
                text-decoration: underline;
                position: absolute;
                right: 80px
            }

            #github {
                color: black;
                margin-top: 60px;
                position: absolute;
                right: 280px;
                font-size: 2em;
            }
            
            #linkedin {
                color: black;
                margin-top: 60px;
                position: absolute;
                right: 120px;
                font-size: 2em;
            }
        }
    }

    main {
        display: flex;
        flex-direction: column;
        height: 60vh;

        div {
            font-size: 1.5em;
            margin-top: 20px;
        }
    }

    footer {
        background-color: #eceaea;
        position: relative;

        #footer-container {
            grid-area: "footer";
            height: 17vh;
            display: grid;
            grid-template-columns: repeat(3, 13%);
            justify-content: center;
            align-items: center;
            grid-gap: 0;
            color: rgb(78, 74, 74);
            font-size: 1.5em;
        }

        div {
            position: relative;
            bottom: 10px;
        }
    }
}